main{
  max-width: 1400px;
  margin: auto;
}
main .mainBlankSpace{
  background-color: rgba(227, 175, 72,1);
  height: 150vh;
  min-height: 800px;
}
main .mainBlankSpace .mainBlankSpaceContent{
  position: relative;
  width: 100%;
  z-index: 90;
  width: 100%;
  max-width: 1400px;
  

}

main .mainBlankSpace .mainBlankSpaceContent .intro{
  position: relative;
  text-align: center;
  padding: 10px;
  z-index: 99;
  font-size: 50px;
  color: white;
  padding: 20px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 5px;
}
main .maincontent{
  position: relative;
  background-color: rgba(91,84,69,0.2);
  z-index: 99;
  border-radius: 5px;
  text-align: center;
  color: white;
}
main .maincontent .flexi{

  padding-bottom: 400px;
}
main .maincontent .flexi .potrait{
  margin-top: -100px;

}
main .maincontent .flexi .potrait .potrait-textContent{
  padding: 15px;
  background-color: rgba(0,0,0,0.3);
  padding-top: 90px;
  margin-top: -70px;
  border-radius: 5px;
}
main .maincontent .flexi .potrait p{
  /*color: rgba(227, 175, 72,1);*/
}
main .maincontent .flexi .potrait img{
  border: 6px solid rgba(227, 175, 72,1);
}
.flexi .potrait img{
  animation: spinn 5s infinite;
}
@keyframes spinn {
  50% {transform: rotate(10deg);}
}
.maincontent img{
  max-width: 300px;
}
.maincontent .textContent:nth-child(even){
  margin-left: auto;
  margin-right: 70px;
}
.maincontent .textContent:nth-child(odd){
  margin-right: auto;
  margin-left: 70px;
}
.maincontent .textContent{
  max-width: 1000px;
  padding-bottom: 400px;


}
.maincontent .textContent .textContentDiv{
  background-color: rgba(0,0,0,0.3);
  padding: 20px;
  border-radius: 5px;
  padding-bottom: 70px;
}
.maincontent .textContent .textContentDiv p{
  padding-left: 50px;
  padding-right: 50px;
}
.maincontent .textContent .textContentDiv img{
  border-radius: 5px;
  border: 2px solid rgba(227, 175, 72,1);
}
.maincontent .textContent .lastJobs ul{
  color: white;
}
.maincontent .textContent .lastJobs ul li{
  text-align: left;
  padding: 5px;
}
.bigger{
  padding-top:20px;
  padding-bottom: 20px;
}
.black{
  opacity: 1;
  background-color: black;
  background-color: rgba(0,0,0,1)!important;
}
@media only screen and (max-width: 1400px){
  .maincontent .textContent:nth-child(even){
    margin-right: 0;
  }
  .maincontent .textContent:nth-child(odd){
    margin-left: 0;
  }
}
@media only screen and (max-width: 550px) {
  h3{
    font-size: 2rem;
  }
  .maincontent .textContent .textContentDiv p{
    padding-left: 0px;
    padding-right: 0px;
  }
}